// Original
// $theme-background-1: #4C4C4C; 
// $theme-background-2: #333;
// $theme-main-1: #FFCC66; // Main Yellow
// $theme-main-2: #eac25e; // Darker Yello
// $theme-active: #c5523f; // Red
// $theme-highlight: #459045; // Green
// $theme-text: #eee; // White

// Fly
$theme-background-1: #3d5d67; 
$theme-background-2: #2f4459;
$theme-main-1: #d7d2cf; // Main Yellow
$theme-main-2: #ffcc66; // Darker Yello
$theme-active: #e27368; // Red
$theme-highlight: #92b6e6; // Green
$theme-text: #2f4459; // White

// Rio
// $theme-background-1: #223941; 
// $theme-background-2: #184e61;
// $theme-main-1: #f4cfbd; // Main Yellow
// $theme-main-2: #f4cfbd; // Darker Yello
// $theme-active: #f29665; // Red
// $theme-highlight: #2fa478; // Green
// $theme-text: #223941; // White

// Eco
// $theme-background-1: #152324; 
// $theme-background-2: #4a848f;
// $theme-main-1: #9ebdbd; // Main Yellow
// $theme-main-2: #152324; // Darker Yello
// $theme-active: #eab595; // Red
// $theme-highlight: #b0657a; // Green
// $theme-text: #152324; // White

// Chocolate
// $theme-background-1: #953340; 
// $theme-background-2: #625d57;
// $theme-main-1: #f3f6fb; // Main Yellow
// $theme-main-2: #f3f6fb; // Darker Yello
// $theme-active: #bfccd4; // Red
// $theme-highlight: #ece7e1; // Green
// $theme-text: #953340; // White

// Jungle
// $theme-background-1: #414640; 
// $theme-background-2: #386465;
// $theme-main-1: #dfe4e0; // Main Yellow
// $theme-main-2: #d3dab0; // Darker Yello
// $theme-active: #c9ad7b; // Red
// $theme-highlight: #e27368; // Green
// $theme-text: #386465; // White

// Ice Cream
// $theme-background-1: #69616c; 
// $theme-background-2: #69616c;
// $theme-main-1: #c4dcdc; // Main Yellow
// $theme-main-2: #c4dcdc; // Darker Yello
// $theme-active: #c98288; // Red
// $theme-highlight: #7a99ae; // Green
// $theme-text: #eae9e7; // White

// Wine
// $theme-background-1: #393b38; 
// $theme-background-2: #604441;
// $theme-main-1: #f1deb3; // Main Yellow
// $theme-main-2: #bd726c; // Darker Yello
// $theme-active: #FFCC66; // Red
// $theme-highlight: #eab67d; // Green
// $theme-text: #604441; // White

// Surf BJGOfB5hW_6
// $theme-background-1: #8e848d;
// $theme-background-2: #686973;
// $theme-main-1: #faebce; // Light
// $theme-main-2: #2c4387; // Dark
// $theme-active: #2c4387; // Red
// $theme-highlight: #e37550; // Green
// $theme-text: #faebce; // White

// Aerosmith
// $theme-background-1: #35353a; 
// $theme-background-2: #1c1e1f;
// $theme-main-1: #ece7e4; // Main Yellow
// $theme-main-2: #ece7e4; // Darker Yello
// $theme-active: #c2434c; // Red
// $theme-highlight: #203586; // Green
// $theme-text: #cbd9da; // White



