@import 'https://fonts.googleapis.com/css?family=Lato';

* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #242526;
  color: white;
  font-family: 'Lato', sans-serif;
}

.list-group-item{
  padding: 2px, 15px;
}

