/*NOT USING THIS FILE ANYMORE!!!*/
/*Use style.SCSS instead!!!*/
/*NOT USING THIS FILE ANYMORE!!!*/

@import 'https://fonts.googleapis.com/css?family=Lato';

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #4C4C4C;
  color: white;
}
body a {
	color: #FFCC66;
}

.no-padding

/*Branding*/
#navbar{

}

/*Navbar*/
#github-repo {
    height: 40px;
    margin: 20px 0;
	background: none;
    border: 1px solid #4C4C4C;
    color: white;
    font-size: 2.1em;
    outline:none;
	background-color: #333
}

/*Options*/
#options {
	float: right;
    background-image: url(/options.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
}

.form-control::-webkit-input-placeholder {
    color: #FFFFFF;
}

.form-control:-moz-placeholder {
    color: #FFFFFF;
}

.form-control::-moz-placeholder {
    color: #FFFFFF;
}

.form-control:-ms-input-placeholder {
    color: #FFFFFF;
}


.list-group-item{
  padding: 2px, 15px;
}

.highlight{
  background-color: rgba(255, 255, 0, 0.3);
}


