/*Theme Variables*/
@import "schemes.scss";

$font-stack:    Helvetica, sans-serif;

@mixin background-color($color){
  background-color: $color
};
@mixin color($color){
  color: $color
};

/*Global properties*/

body {
  box-sizing: border-box;
  background-color: $theme-background-1;
  color: $theme-text;
  a {
    color: $theme-main-1;
  }
  a:hover, a:focus{
   color: $theme-active;
   text-decoration: none;
  }

}
// Root Container
#root {
    // background-image: url(/login-page-background.svg),linear-gradient(180deg,#4C4C4C,#333);
    background-image: linear-gradient(180deg, $theme-background-1, $theme-background-2);
    background-position: 50%;
    min-height: 100vh;
    overflow: hidden;
    /* width: 99%; */
    /* padding: 0 20px; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1; */
}

/*Branding*/
#navbar{
  background-color: $theme-background-2;
  margin-bottom: 10px;
}

/*Repo Selector*/

.text-input {
  color: $theme-main-1;
  height: 40px;
  margin: 15px 10px 12px 0;
  border: none;
  font-size: 1.5em;
  outline: none;
  background-color: $theme-background-1;
  width: 95%;
  text-align: center;
}
#repo-title{
  color: $theme-main-1;
  padding-top: 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*Navbar Items*/
.navbar-item {
  float: right;
  width: 30px;
  height: 30px;
  margin: 18px 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-display{
  opacity: 0;
  height: 0;
  // transition-property: opacity, height;
  // transition-duration: 1s, 0s;
  // transition-delay: 0s, 1s;
}

#options{
  background-image: url(/options.png);
}
#navbar-github{
  background-image: url(/github.png);
  &:hover {
    background-image: url(/github-hover.png);
  }
}
#navbar-share{
  background-image: url(/share.svg);
  &:hover{
    background-image: url(/share-hover.svg);
  }
}
#floating-share{
    height: 48px;
    width: 480px;
    position: absolute;
    top: 80px;
    right: 10px;
    font-size: 12px;
    overflow: hidden;
    background-color: $theme-main-1;
    color: $theme-text;
    padding: 5px;
    z-index: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    border-radius: 5px;
    span {
      width: 20px;
    }
}

#navbar-new{
  background-image: url(/new.svg);
  &:hover {
    background-image: url(/new-hover.svg);
  }
}

.form-control::-webkit-input-placeholder {
    color: $theme-main-1;
}

.form-control:-moz-placeholder {
    color: $theme-main-1;
}

.form-control::-moz-placeholder {
    color: $theme-main-1;
}

.form-control:-ms-input-placeholder {
    color: $theme-main-1;
}

// Welcome
#welcome {
  position: absolute;
  left: 31vw;
  top: 20vh;
  text-align: center;
  color: $theme-main-1;
  font-weight: 100;
    &.no-display{
      opacity: 0;
      height: 0;
      transition: opacity 1s, height 0s 1s;
    }
  h1 {
    font-weight: 200;
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
    padding-bottom: .5em;
  }
  p {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
    padding-top: .5em;
  }
  .font-main{color: $theme-main-2; transition: color 2s;}
  .font-active{color: $theme-active; transition: color 2s 1s;}
  .font-highlight{color: $theme-highlight; transition: color 2s 2s;}


}


// Panels Layout
.babies {
  display: inline
}

#panels-container {
  overflow-x: hidden;
  white-space: nowrap;

  .center{
    margin-left :40%;
  }
  .left{
    margin-left :0;
    -webkit-transition: margin-left 1s; /* Safari */
    transition: margin-left 1s;
    background-position: 110% 50%;
  }
  .overleft{
    margin-left: -15.5%;
    background-image: url(/yellow-arrow.svg);
    background-repeat: no-repeat;
    background-position: 102% 50%;
    transition-property: margin-left, background-image, background-position;
    transition-duration: 1s, 1s,1s;
    transition-delay: 0s, 1s,0s;
    
  }
  .overleft:hover{
    margin-left :-2%;
    background-position: 110% 50%;

    // background-color: rgba(250, 235, 215, 0.0);
    transition-property: margin-left, background-image, background-position;
    transition-duration: 1s, 0s,1s;
    transition-delay: 0s, 0s,0s;

  }
  .hidepanel{
    opacity: 0;

  }
  .fadeinpanel{
    opacity: 1;
    -webkit-transition: opacity 1s;
  }

  .panel-title{
    background-color: $theme-main-1;
    color: $theme-background-1;
    font-weight: bold;
    clear: both;
    text-align: center;
  }
  .active {
    background-color: $theme-active;
    color: $theme-text;
  }
  .highlight{
    background-color: $theme-highlight;
    color: $theme-text;
  }

  #fileTree{
    width: 17%;
    float: left;
    display: inline-block;
    height: 89vh;

  }
  #fileTree:hover{
    margin-left :0px;
  }
  #code-container{
    width: 40%;
    padding-left: 5px;
    float: left;
    display: inline-block;
    .CodeMirror{
      width: 100%;
      float: left;
      height: 100%;
      border-left: 1px solid $theme-main-1;
      border-right: 1px solid $theme-main-1;
      border-bottom: 1px solid $theme-main-1;
      .highlight{
        background-color: rgba($theme-active, 0.5);
      }
      .highlight_other{
        background-color: rgba($theme-highlight, 0.5);
      }
    }
  }
.half{
  height: 42.5vh;
  transition: height 1s;
  margin-bottom: 1vh;
  }
.full{
height: 88vh;
transition: height 1s;
}


  #paper-container{
    width: 59%;
    height: 88vh;
    padding-left: 10px;
    overflow: hidden;
    float: none;
    display: inline-block;
  }
}

/*File Tree*/
#fileTree{
  #icon-filetree{
    background-image: url(/filetree.svg);
    float: right;
    width: 20px;
    height: 20px;
    margin: 1px 5px;
  }

  ul {
    padding: 0;
  }
  .list-group {
      padding-top: 5px;
      border-radius: 0;
      -webkit-box-shadow: 0 0 0 rgba(0,0,0,.0);
      box-shadow: 0 0 0 rgba(0,0,0,.0);
  }
  .list-group-item{
    padding: 5px 3px;
    @include background-color(hsla(0, 0%, 30%, 0) !important);
  }
  .list-group-item:hover{
    @include background-color($theme-active !important);
    @include color($theme-background-2 !important);
    font-weight: bold;
    span {
      @include color($theme-background-2 !important);

    }
    span:hover{
      font-weight: bold;
    }
  }
}

// Code Mirror
.cm-s-blackboard.CodeMirror{
  @include background-color($theme-background-2 !important);
}
.cm-s-blackboard .CodeMirror-gutters{
  @include background-color(#272626 !important);
}


// Canvas
canvas {
  width: 100%;
  height: 100%;
}


