/*Theme Variables*/
$font-stack:    Helvetica, sans-serif;
$theme-background-1: #4C4C4C;
$theme-background-2: #333;
$theme-highlight-1: #FFCC66;
$theme-highlight-2: #eac25e;
$theme-text: #FFFFFF;

/*Global properties*/

body {
  box-sizing: border-box;
  background-color: $theme-background-1;
  color: $theme-text;
  a {
  	color: $theme-highlight-1;
  }
  a:hover{
   color: $theme-highlight-2;
   text-decoration: none;
  }

}
// Root Container
#root {
    background-image: url(/login-page-background.svg),linear-gradient(180deg,#4C4C4C,#333);
    background-position: 50%;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Branding*/
#navbar{

}

/*Navbar*/

#github-repo {
  height: 40px;
  margin: 12px 0;
  border: none; 
  font-size: 1.5em;
  outline:none;
	background-color: $theme-background-2;
  width: 100%;
}

/*Options*/
#options {
	float: right;
  background-image: url(/options.png);
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 18px 0;
}

.form-control::-webkit-input-placeholder {
    color: $theme-text;
}

.form-control:-moz-placeholder {
    color: $theme-text;
}

.form-control::-moz-placeholder {
    color: $theme-text;
}

.form-control:-ms-input-placeholder {
    color: $theme-text;
}

// Panels Layout
#panels-container {
  
  #paper-container{
    height: 500px;
  }
}


/*File Tree*/
.list-group-item{
  padding: 2px, 15px;
}


